*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a0e4f1;
 
    height: 100%;
    text-align: center;
    /* */
}

h1{
    color: #3d1860;
    font-size: 5rem;
}
hr{
    border-color: #643579;
   width: 96rem;
}

h2{
    color: #643579;
}
.border-style{
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: space-evenly;
}
.border-style>div{
    height: 10rem;
    width: 10rem;
    background-color: #9dc6ff;
    color: #2161ba;
    
}


.div-1{
    border: 5px solid #4993fa;
}
.div-2{
    border: 10px dotted #4993fa;
}
.div-3{
    border: 5px dashed #4993fa;
}
.div-4{
    border: 10px double #4993fa;
}
.div-5{
    border: 10px groove #4993fa;
}
.div-6{
    border: 10px ridge #4993fa;
}
.div-7{
    border: 10px inset #4993fa;
}
.div-8{
    border: 10px outset #4993fa;
}
.div-9{
    border: 10px none #4993fa;
}
.div-10{
    border: 10px  #4993fa;
    border-style: double inset;
}
.div-11{
    border: 10px  #4993fa;
    border-style:double ridge inset groove ;
}

.div-12{
    border: 10px  #4993fa;
    border-style:outset inset groove ridge;
}

.square{
border-radius: 10px;
}
.round{
    border-radius: 50%;
}
.uoda{
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
}
.drop{
    border-radius: 50%;
    border-top-right-radius:10px ;
 
}
.slope{
    border-radius:40% 40% 40% 40%/30% 30% 70% 70%;
}

.slope1{
    border-radius:40% 40% 40% 40%/70% 70% 30% 30%;
}

.slope2{
    border-radius: 40% 40% 40% 40%/70% 70% 70% 70%;
}
.egg{
    border-radius:50%/60% 60% 40% 40%;
}

.slop3{
    border-radius:100% 0% /30% 0% ;
}

.oval{
    border-radius: 50%;
    height: 5rem !important;
}

.ftriangle{
  border:5rem solid;
  border-color: #88acdf #3e7ace #506a8f #66a0f2;
}

.ttriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:#9dc6ff transparent transparent transparent ;
}
.rtriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:transparent #9dc6ff transparent transparent ;
}
.btriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:transparent transparent #9dc6ff transparent ;
}
.ltriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:transparent transparent transparent #9dc6ff;
}

.lbtriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:transparent transparent #9dc6ff #9dc6ff;
}

.utriangle{
    height: 0 !important;
    width: 0 !important;
    background-color: transparent !important;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 150px solid #9dc6ff;
  }

.trapezoid{
    border:4rem solid;
    background-color: transparent !important;
    border-color:transparent transparent #9dc6ff transparent ;
}
.parallelogram{
 
    border-left: 40px solid;
    border-right: 50px solid;
    border-bottom: 100px solid;
    background-color: transparent !important;
    border-color:transparent transparent #9dc6ff transparent ;
}

.pattern1{
     border: 10px solid transparent;
    border-image-source: url(./images/pattern1.jpeg);
    border-image-repeat: round;  
    border-image-slice: 59;
    border-image-width: 15px;
}

.pattern2{
    border: 10px solid transparent;
    border-image-source: url(./images/pattern2.jpeg);
    border-image-repeat: revert;
    border-image-slice: 10%;
    border-image-width: 15px;
}

.pattern3{
    border: 10px solid transparent;
    border-image-source: url(./images/circle.jpg);
    border-image-repeat: revert;
    border-image-slice: 10%;
    border-image-width: 15px;
}

.pattern4{
    border: 10px solid transparent;
    border-radius: 50%;
    border-image-source: url(./images/circle.jpg);
    border-image-repeat: revert;
    border-image-slice: 10%;
    border-image-width: 15px;
    
}