*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a0e4f1;
 
    height: 100%;
    text-align: center;
    /* */
}

h1{
    color: #3d1860;
    font-size: 5rem;
}
hr{
    border-color: #643579;
   width: 96rem;
}

h2{
    color: #643579;
}
.border-style{
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: space-evenly;
}
.border-style>div{
    height: 10rem;
    width: 10rem;
    background-color: #9dc6ff;
    color: #2161ba;
    
}


.div-1{
    border: 5px solid #4993fa;
}
.div-2{
    border: 10px dotted #4993fa;
}
.div-3{
    border: 5px dashed #4993fa;
}
.div-4{
    border: 10px double #4993fa;
}
.div-5{
    border: 10px groove #4993fa;
}
.div-6{
    border: 10px ridge #4993fa;
}
.div-7{
    border: 10px inset #4993fa;
}
.div-8{
    border: 10px outset #4993fa;
}
.div-9{
    border: 10px none #4993fa;
}
.div-10{
    border: 10px  #4993fa;
    border-style: double inset;
}
.div-11{
    border: 10px  #4993fa;
    border-style:double ridge inset groove ;
}

.div-12{
    border: 10px  #4993fa;
    border-style:outset inset groove ridge;
}

.square{
border-radius: 10px;
}
.round{
    border-radius: 50%;
}
.uoda{
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
}
.drop{
    border-radius: 50%;
    border-top-right-radius:10px ;
 
}
.slope{
    border-radius:40% 40% 40% 40%/30% 30% 70% 70%;
}

.slope1{
    border-radius:40% 40% 40% 40%/70% 70% 30% 30%;
}

.slope2{
    border-radius: 40% 40% 40% 40%/70% 70% 70% 70%;
}
.egg{
    border-radius:50%/60% 60% 40% 40%;
}

.slop3{
    border-radius:100% 0% /30% 0% ;
}

.oval{
    border-radius: 50%;
    height: 5rem !important;
}

.ftriangle{
  border:5rem solid;
  border-color: #88acdf #3e7ace #506a8f #66a0f2;
}

.ttriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:#9dc6ff transparent transparent transparent ;
}
.rtriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:transparent #9dc6ff transparent transparent ;
}
.btriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:transparent transparent #9dc6ff transparent ;
}
.ltriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:transparent transparent transparent #9dc6ff;
}

.lbtriangle{
    border:5rem solid;
    background-color: transparent !important;
    border-color:transparent transparent #9dc6ff #9dc6ff;
}

.utriangle{
    height: 0 !important;
    width: 0 !important;
    background-color: transparent !important;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 150px solid #9dc6ff;
  }

.trapezoid{
    border:4rem solid;
    background-color: transparent !important;
    border-color:transparent transparent #9dc6ff transparent ;
}
.ring{
    border-radius: 50%;
    border: 10px solid blue;
    background-color: transparent !important;
    height: 100%;
    width: 100px;
}


.pattern1{
     border: 10px solid transparent;
    border-image-source: url(./images/pattern1.jpeg);
    border-image-repeat: round;  
    border-image-slice: 59;
    border-image-width: 15px;
}

.pattern2{
    border: 10px solid transparent;
    border-image-source: url(./images/pattern2.jpeg);
    border-image-repeat: revert;
    border-image-slice: 10%;
    border-image-width: 15px;
}

.pattern3{
    border: 10px solid transparent;
    border-image-source: url(./images/pattern3.jpeg);
    border-image-repeat: repeat;
    border-image-slice: 40%;
    border-image-width: 18px;
}
.p1{
    border:10px double #4993fa;
    border-left: transparent;
    border-top: transparent;
}
.p2{
    width: 15rem !important;
    height: 5rem !important;
    border:10px solid #4993fa;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.p3{
    border:10px solid #4993fa;
    border-right: transparent;
    border-left: transparent;
    border-bottom: transparent;
 
}
.p4{
    border:15px solid;
    border-top-color: #4993fa;
    border-bottom-color:#4993fa;
    border-left: transparent;
    border-right: transparent;
}
.p5{
    background: transparent !important;
    border: 5px solid #93C43E;
    align-items: center;
    display: flex;
    justify-content: center;
}
.p6{
    /* background: transparent !important; */
    height: 100%;
    width: 100%;
    border: 5px solid #039A57;
}
.p7{
    /* background: transparent !important; */
    height: 100%;
    width: 100%;
    border: 5px solid #19bb7d;
}

.p8{
    /* background: transparent !important; */
    height: 100%;
    width: 100%;
    border: 5px solid #06550e;
}
.p9{
    /* background: transparent !important; */
    height: 100%;
    width: 100%;
    border: 5px solid #5C0152;
}
.p10{
    /* background: transparent !important; */
    height: 100%;
    width: 100%;
    border: 5px solid #afb71c;
}

.p11{
    /* background: transparent !important; */
    height: 100%;
    width: 100%;
    border: 5px solid #1c45b7;
}

.p12{
    /* background: transparent !important; */
    height: 100%;
    width: 100%;
    border: 5px solid #C51125;
}
.p13{
    /* background: transparent !important; */
    height: 100%;
    width: 100%;
    border: 5px solid #DF6419;
}
.p14{
    /* background: transparent !important; */
    height: 100%;
    width: 100%;
    border: 5px solid #DE9402;
}

.outline{
    height: 120rem !important;
}

.outline-1{
    outline: 5px solid #4993fa;       
}
.outline-2{
    outline: 10px dotted #4993fa;        
}
.outline-3{
    outline:  5px dashed #4993fa;      
}        
.outline-4{        
    outline: 10px double #4993fa;      
}
.outline-5{
    outline:10px groove #4993fa;       
}
.outline-6{
    outline:10px ridge #4993fa;       
}
.outline-7{
    outline:10px inset #4993fa;        
}
.outline-8{
    outline:10px outset #4993fa;      
}
.outline-9{
    outline:10px none #4993fa;   
        
}


.outline-1b{
    outline: 5px solid #4993fa;  
    border: 5px solid #b22a2a;        
}
.outline-2b{
    outline: 10px dotted #4993fa;  
    border: 10px dotted #b22a2a;        
}
.outline-3b{
    outline:  5px dashed #4993fa;  
    border: 5px dashed #b22a2a;        
}        
.outline-4b{        
    outline: 10px double #4993fa;     
    border: 10px double #b22a2a;        
}
.outline-5b{
    outline:10px groove #4993fa;
    border: 10px groove #b22a2a;        
}
.outline-6b{
    outline:10px ridge #4993fa;
    border: 10px ridge #b22a2a;        
}
.outline-7b{
    outline:10px inset #4993fa;
    border: 10px inset #b22a2a;        
}
.outline-8b{
    outline:10px outset #4993fa;
    border: 10px outset #b22a2a;        
}


.outline1{
    border: 5px solid #000406;
    outline: 100px auto #1da31d;
}



.outline2{
    outline: 15px double blue;
}
.outline3{
    outline: 15px double #A0E4F1;
    outline-offset: -20px;
}
.outline4{
    border: 5px solid #000406;
    outline: 15px double #A0E4F1;
    outline-offset: -20px;
}
.outline5{
    outline: 10px dotted #A0E4F1;
    outline-offset: -7px;
}
.outline6{
    outline: 15px dotted #a0e4f1;
    outline-offset: -5px;
}
.outline7{
    outline: 40px dotted #a0e4f1;
    outline-offset: -30px;
}

.outline8{
    outline: 40px dashed #3E7ACE;
}

.outline9{
    outline: 40px dashed #3E7ACE;
     outline-offset: -20px; 
}
.outline10{
    outline: 15px dashed #A0E4F1;
    outline-offset: -15px;
}
.outline11{
    outline: 35px dashed #A0E4F1;
    outline-offset: -15px;
}

.outline12{
    outline: 20px dashed #A0E4F1;
    outline-offset: -13px;
}

.outline13{
    outline: 29px dashed #A0E4F1;
    outline-offset: -29px;
}
.outline14{
    outline: 5px dashed #A0E4F1;
    outline-offset: -15px;
}
.outline15{
    outline: 5px solid #A0E4F1;
    outline-offset: -10px;
}
.outline16{
    border: 40px dotted blue;
    outline: 23px dashed #A0E4F1;
    outline-offset: -15px;
}
.outline17{
    border: 79px dotted blue;
    outline: 40px dashed #A0E4F1;
    outline-offset: -40px;
}
.outline18{
    height: 8rem !important;
    width: 5rem !important;
    border: 40px dotted blue;
    outline: 23px dashed #A0E4F1;
    outline-offset: -15px;
}
.outline19{
    border: 73px dotted blue;
    outline: 30px dashed #A0E4F1;
    outline-offset: -63px;

}
.pp5{
    height: 8rem !important;
    width: 5rem !important;
}